{% extends 'base.html' %} {% block content %}
<div class="h-screen flex justify-center items-center bg-gray-100">
  <div class="bg-gray-100 border border-2 border-blue-500 p-8 shadow-md">
    <h2 class="text-3xl font-bold">Login Page</h2>
    <form class="flex flex-col space-y-2" method="POST" action="">
      {% csrf_token %} {% for fields in form %}
      <label class="font-semibold">{{fields.label_tag}}</label>
      {{fields}} {% endfor %}
      <div class="text-center">
        <button
          class="rounded-md text-white bg-blue-500 px-3 py-2 hover:bg-blue-700"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
